<html>
  <head>
    <title>Checkbox - Live Stream</title>
    <meta name="description" content="Checkbox live video stream">
    <script>
      /*
      var sock = new WebSocket('ws://' + location.host + '/socket');
      var lastPositionTime = new Date().getTime()
      var now = new Date().getTime()

      function onMouseMove(evt) {
          console.log("mousemove")
          var now = new Date().getTime()
          if (now - lastPositionTime > 75) {
              lastPositionTime = new Date().getTime()
              console.log(evt.movementX, evt.movementY)
              x_pos = evt.movementX*15
              y_pos = evt.movementY*15
              sock.send(JSON.stringify({'type': 'mouseMove', 'data': {x:x_pos, y:y_pos}}))
          }
      }

      function onMouseClick(evt) {
          console.log("mouse click")
          sock.send(JSON.stringify({type: 'mouseClick'}))
      }

      window.addEventListener('mousemove', onMouseMove, false);
      window.addEventListener('click', onMouseClick, false);
      //window.sock = sock
      */
  </script>
</head>
  <body>
    <div id="stream" class="col-lg-8  offset-lg-2">
      {% if style == "crop" %}
        <img src="{{ url_for('video_feed') }}" height="100%">
      {% elif style == "raw" %}
        <img src="{{ url_for('raw_video_feed') }}" height="100%">
      {% endif %}
    </div>

    <script type="text/javascript">
      var sock = new WebSocket('ws://' + location.host + '/socket');
      var lastPositionTime = new Date().getTime()
      var now = new Date().getTime()


      document.addEventListener("DOMContentLoaded", function(event) {
          setupPointerLock();
      })

      // Configure all the pointer lock stuff
      function setupPointerLock() {
        // register the callback when a pointerlock event occurs
        document.addEventListener('pointerlockchange', changeCallback, false);
        document.addEventListener('mozpointerlockchange', changeCallback, false);
        document.addEventListener('webkitpointerlockchange', changeCallback, false);

        // when element is clicked, we're going to request a pointerlock
        document.getElementById("stream").onclick = function () {
            var stream = document.getElementById("stream");
            stream.requestPointerLock = stream.requestPointerLock ||
                    stream.mozRequestPointerLock ||
                    stream.webkitRequestPointerLock;


            // Ask the browser to lock the pointer)
            stream.requestPointerLock();
        };
      }


      // called when the pointer lock has changed. Here we check whether the
      // pointerlock was initiated on the element we want.
      function changeCallback(e) {
          var stream = document.getElementById("stream");
          if (document.pointerLockElement === stream ||
                  document.mozPointerLockElement === stream ||
                  document.webkitPointerLockElement === stream) {

              // we've got a pointerlock for our element, add a mouselistener
              document.addEventListener("mousemove", onMouseMove, false);
              document.addEventListener('click', onMouseClick, false);
              console.log("start pointerlock")
          } else {
              console.log("end pointerlock")
              // pointer lock is no longer active, remove the callback
              document.removeEventListener("mousemove", onMouseMove, false);
              document.removeEventListener("click", onMouseClick, false);
          }
      };

      function onMouseMove(evt) {
          console.log("mousemove")
          var now = new Date().getTime()
          if (now - lastPositionTime > 50) {
              lastPositionTime = new Date().getTime()
              console.log(evt.movementX, evt.movementY)
              x_pos = evt.movementX*10
              y_pos = evt.movementY*10
              sock.send(JSON.stringify({'type': 'mouseMove', 'data': {x:x_pos, y:y_pos}}))
          }
      }

      function onMouseClick(evt) {
          console.log("mouse click")
          sock.send(JSON.stringify({type: 'mouseClick'}))
      }



    </script>
  </body>
</html>